<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="weather-container">
      <div class="weather-details">
        <h1>My Weather Apps</h1>
        <h3>Temperature</h3>
        <h3>Description</h3>
        <h3>Location</h3>
      </div>
      <form>
        <input
          id="input-value"
          placeholder="Enter your City"
          class="input"
          name="city"
          type="text"
        />
        <button class="button">Enter City</button>
      </form>
    </section>
    <script src="index.js"></script>
  </body>
</html>
