<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="weather-container">
      <nav>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </nav>
      <div class="weather-details">
        <h1>Enter a <span>City</span></h1>
      </div>
      <form>
        <input id="input-value" class="input" name="city" type="text" />
        <button class="button">Enter City</button>
      </form>
    </section>
    <!-- <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/dotenv@16.4.5/lib/main.min.js"
    ></script> -->
    <script src="index.js"></script>
  </body>
</html>
